@import '../app.component.scss';
@import '../variables.scss';

.products {
    background-color: $ligthBlue;
    margin-block-start: 2rem;
    padding-block: 2.5rem;
}

.products__header {
    align-items: center;
    display: flex;
    inline-size: 100%;
    justify-content: space-between;
    margin-block-end: 1.5rem;
}

.products__footer {
    align-items: center;
    display: flex;
    inline-size: 100%;
    justify-content: space-between;
    margin-block-start: 1.5rem;
}

.products__table {
    background-color: $white;
    border-spacing: 0;
    inline-size: 100%;
    padding: 2rem;
}

.products_table-heading {
    background-color: #F8F9FB;
    font-size: 1rem;
    font-weight: 900;
    text-align: left;
    padding: 1rem;;
    border-inline: 0;
    border-block-end: solid 2px #EEF0F4;
}

.products_table-data {
    background-color: $white;
    border-block-end: solid 2px #EEF0F4;
    border-inline: 0;
    font-size: 1rem;
    padding: 1rem;
    position: relative;
    text-align: left;
}

.products_table-data-logo {
    border-radius: 100%;
    block-size: 60px;
    inline-size: 60px;
    object-fit: cover;
}

.products_table-menu-button {
    background-color: transparent;
    border: 0;
    cursor: pointer;
}

.products_table-menu-image {
    inline-size: 16px;
}

.products_table-menu {
    list-style: none;
    position: absolute;
    inset-inline-start: 50%;
    inset-block-start: 2rem;
    background-color: $ligthBlue;
    padding: 0;
    z-index: 1;
}

.products_table-menu-option {
    list-style: none;
    padding: 0.5rem;
    border: solid 1px red;
}

.products_table-menu-option-button {
    background-color: transparent;
    border: 0;
    color: $darkGrey;
    text-decoration: none;
    padding: 0;
}