<div class="products">
    <section class="container" aria-label="Productos Financieros">
        <div class="products__header">
            <input class="input" placeholder="Search..." [(ngModel)]="filterKey" (ngModelChange)="filterChangeFn($event)">
            <a class="button button__primary"href="/product/">Agregar</a>
        </div>

        
        <table class="products__table">
            <tr>
                <th class="products_table-heading">Logo</th>
                <th class="products_table-heading">Nombre del producto</th>
                <th class="products_table-heading">Descripcion</th>
                <th class="products_table-heading">Fecha de liberacion</th>
                <th class="products_table-heading">Fecha de restructuracion</th>
                <th  class="products_table-heading"></th>
            </tr>
            <tbody *ngFor="let product of filteredProducts; let i = index">
                <tr>
                    <td class="products_table-data"><img  class="products_table-data-logo" src="{{ product.logo }}"/></td>
                    <td class="products_table-data">{{ product.name }}</td>
                    <td class="products_table-data">{{ product.description }}</td>
                    <td class="products_table-data">{{ customFormattDate(product.date_release) }}</td>
                    <td class="products_table-data">{{ customFormattDate(product.date_revision) }}</td>
                    <td class="products_table-data">
                        <button aria-label="menu" class="products_table-menu-button" (click)="handleMenuClick(product.id)">
                            <img class="products_table-menu-image" src="/images/menuDots.webp"  />
                        </button>
                        @if(activeSubmenu === product.id) {
                            <ul class="products_table-menu" id="menu-{{product.id}}">
                                <li class="products_table-menu-option">
                                    <button class="products_table-menu-option-button" (click)="handleDelete(product.id)">Delete</button>
                                </li>
                                <li class="products_table-menu-option">
                                    <a href="product/{{product.id}}" class="products_table-menu-option-button">Edit</a>
                                </li>
                            </ul>
                        }
                    </td>
                </tr>
            </tbody>
        </table>

        <div class="products__footer">
            <span>{{ totalResults }} Resultados</span>
            
            <select class="select">
                <option value="5">5</option>
                <option value="10">10</option>
            </select>
        </div>
    </section>
</div>
