<div class="page-header">
  <img class="page-header_logo" src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/16/Banco_Pichincha_logo.svg/1280px-Banco_Pichincha_logo.svg.png" alt="Logo Banco Pichincha">
</div>
<router-outlet />