@import './variables.scss';

.page-header {
    align-items: center;
    display: flex;
    justify-content: center;
    background-color: $white;
    padding: 1.5rem;
}

.page-header_logo {
    block-size: auto;
    inline-size: 280px;
    border-radius: 4px;
}

