<div class="product">
    <section class="container" aria-label="Productos Financieros">
        <div class="form-wrapper">
            <h1>Formulario de Registro</h1>
            <form action="handleSubmit()">
                <div class="form-row">
                    <fieldset class="fieldset">
                        <label for="id">Id</label>
                        <input class="input" [(ngModel)]="id"  type="text" id="id">
                    </fieldset>
                    <fieldset class="fieldset">
                        <label for="nombre">Nombre</label>
                        <input class="input" [(ngModel)]="name"  type="text" id="nombre">
                    </fieldset>
                </div>
                <div class="form-row">
                    <fieldset class="fieldset">
                        <label for="descripcion">Descripcion</label>
                        <input class="input" [(ngModel)]="description"  type="text" id="descripcion">
                    </fieldset>
                    <fieldset class="fieldset">
                        <label for="logo">Logo</label>
                        <input class="input" [(ngModel)]="logo"  type="text" id="logo">
                    </fieldset>
                </div>
                <div class="form-row">
                    <fieldset class="fieldset">
                        <label for="fechlib">Fecha Liberacion</label>
                        <input class="input" [(ngModel)]="relDate"  type="text" id="fechlib">
                    </fieldset>
                    <fieldset class="fieldset">
                        <label for="fechrev">Fecha Revision</label>
                        <input class="input" [(ngModel)]="revDate" type="text" id="fechrev">
                    </fieldset>
                </div>

                <div class="form-row">
                    <button class="button" type="submit">Enviar</button>
                </div>
            </form>
        </div>
    </section>
</div>
