h1 {
    text-align: center;
}
.form-row {
    display: flex;
    flex-basis: 100%;
}

.fieldset {
    flex: 1;
    border: 0;

    label {
        font-size: 1rem;
        display: block;
    }

    .input {
        width: 95%;
    }
}
