@import './app/variables.scss';

html {
    font-size: 14px;
    font-family: Arial;
    line-height: 1.5rem;
    background-color: $ligthBlue;
}

.container {
    margin-inline: auto;
    max-width: 1320px;
}

.button {
    border-radius: 4px;
    font-size: 1rem;
    font-weight: 700;
    padding: 1rem 1.5rem;
    text-decoration: none;
}

.button__primary {
    background-color: $yellow;
    color: $darkGrey;

    &:hover {
        background-color: $yelloHover;
        color: $darkGrey;
    }
}

.input {
    background-color: $white;
    border: solid 2px $lightGrey;
    border-radius: 4px;
    padding: 0.75rem 1rem;
    font-size: 1rem;
}

.select {
    background-color: $white;
    border: solid 1px $black;
    border-radius: 4px;
    padding: 0.25rem 0.5rem;
    font-size: 1rem;
}